---
import RootLayout from "../layouts/root-layout.astro";
---

<RootLayout title="voila.dev">
  <main class="min-h-svh grid grid-cols-1 grid-rows-12 overflow-hidden px-4">
    <header
      class="flex flex-col gap-8 items-center row-start-2 row-end-10 justify-center text-center"
    >
      <h1 class="text-6xl font-bold">voila.dev</h1>
      <div>
        <p class="text-lg">Simple open source microservices.</p>
        <p>Built for devs.</p>
      </div>
    </header>
    <p
      class="text-sm row-start-10 text-center flex flex-col items-center gap-2"
    >
      <span>Currently working on:</span>
      <span
        class="px-2 py-1 bg-primary-background text-primary-foreground rounded font-bold"
        >vat.voila.dev</span
      >
    </p>
  </main>
</RootLayout>
